source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0

nuget DataDog.Trace
nuget LanguageExt.Core
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch
nuget Scrutor
nuget App.Metrics.Reporting.Console
nuget App.Metrics.Reporting.HTTP
nuget App.Metrics.AspNetCore.All
nuget System.Linq.Async
nuget System.Threading.Channels
nuget Open.ChannelExtensions
nuget Cocona
nuget Microsoft.Extensions.Configuration.Abstractions
nuget System.Text.Json
nuget EasyNetQ 
nuget EasyNetQ.DI.Microsoft 
nuget RabbitMQ.Client
nuget Microsoft.Extensions.Hosting

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector
nuget FluentAssertions
nuget Bogus